.wood-image{
    background-image: url(https://cdn.wallpapersafari.com/69/51/vW4u5a.jpg);
    min-height: 46vh;
    background-size: cover;
}
.kiddo{
    /* background-image: url(https://i.imgflip.com/1hfmx7.jpg); */
    min-height: 25vh;
    background-size: cover;
}
.kiddo img{
    height:200px;
}
.dark{
    background-image: url(https://images.unsplash.com/photo-1547499417-61a435d27cb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
    min-height: 46vh;
    background-size: cover;

}
.about-me{
    background-color: rgba(245, 120, 3, 0.932);
    min-height: 30vh;
    background-size: cover;
}
.tools{
    background-color: rgb(231, 231, 231);
    min-height: 30vh;
    background-size: cover;
}